body{
    font-family:Arial, Helvetica, sans-serif;
    margin: 0px 0px;
    padding: 0px  0px;
}
.container{
    margin: 0 auto;
    width: 90%;
}
.header{
    background-color: #f7f7f7;
    margin: 20px 0px;
    border-radius: 20px;
    padding: 15px 15px;
}
.nav{
    display: flex;
    justify-content: space-around;
}
a{
    text-decoration: none;
    list-style: none;
}
.nav__list{
    list-style: none;
}
.main__title{
    font-size: 35px;
    font-weight: 600;
}
.main__subtitle{margin: 30px 0px 15px 0px;
    font-size: 30px;
    font-weight: 500;
}
.main__description{
font-size: 24px;
font-weight: 500;
}
.footer{
    background-color: #f7f7f7;
    margin: 30px 0px;
    padding: 20px 20px;
    border-radius: 20px;
}
.footer__title{
    font-size: 35px;
}