*{
     background-color: #3d3d3d;
}
.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}
.form {
    height: 100%;
    max-width: 550px;
    margin: 0 auto;
    color: #fff;
    padding: 30px 0;
   
}.form *{
    outline: none;
}
.form__body {
    position: relative;
    display: grid;
}
.form__body::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:rgba(1, 1, 1, 0.6) url('../img/394.gif') center / 50px no-repeat;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease 0s;

}
.form__body._sending::after{
    opacity: 1;
    visibility: visible;
}
.form__title {
    font-size: 40px;
    margin: 0px 0px 30px 0px;
    text-align: center;
    font-weight: 700;
}
.form__title--hand{
    font-size: 20px;
    margin: 0;
    text-align: left;
}
.form__item {
    margin: 0px 0px 15px 0px;
}
.form__label {
    font-size: 18px;
    display: block;
    margin-bottom: 5px;
}
.form__input {
    height: 50px;
    padding: 0 20px;
    border-radius: 5px;
    width: 92%;
    font-size: 18px;
    transition: all 0.5s ease 0s;
    background-color: #fff;
}
.form__input._error{
    box-shadow:0 0  15px red;
}
.form__input:focus{
    box-shadow:0 0  15px rgb(231, 241, 175);
}
textarea.form__input{
    min-height: 80px;
    resize: vertical; 
    padding: 20px; 
}
.options {
    margin-top: 10px;
}
.options__item {
    margin-bottom: 10px;
}
.options__input {
   display: none;
}
.options__input:checked + .options__label::after{
transform: scale(1);
}
.options__label{
    cursor: pointer;
    display: inline-flex;
    font-size: 16px;
    line-height: 140%;
    align-items: center;
    position: relative;
}
.options__label::before{
    content: '';
    flex: 0 0 24px;
    align-self: flex-start;
    border: 1px solid black;
    height: 24px;
    background-color: #fff;
    border-radius: 50%;
    margin:0px 10px 0px 0px ;
}
.options__label::after{
    transition: transform 0.3s ease 0s;
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 16px;
    height: 16px;
    background-color: #659955;
    border-radius: 50%;
    transform: scale(0);
}
.form__select{
width: 100%;
padding: 10px 0px 10px 20px ;
color: #fff;
}
.file {
}
.file__item {
    position: relative;
}
.file__input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    font-size: 0;
    cursor: pointer;
}
.file__button {
    display: inline-flex;
    min-height: 40px;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    background-color: rgb(219, 202, 179);
    padding: 0px 20px;
}
.file__preview img{
    max-width: 100%;
}
.checkbox {
}
.checkbox__input {
    display: none;
}
.checkbox._error .checkbox__label::before{
     box-shadow:0 0  15px red;
}
.checkbox__input:checked + .checkbox__label::after{
    transform: scale(1);
}
.checkbox__label{
    cursor: pointer;
    position: relative;
    display: inline-flex;
    font-style: 16px;
    line-height: 140%;
    align-items: center;
}

.checkbox__label::before {
    content: '';
    align-self: flex-start;
    flex: 0 0 24px;
    height: 24px;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid black;
    margin: 0 10px 0px 0px;
}
.checkbox__label::after {
    transition: transform 0.5s ease 0s;
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 20px;
    height: 20px;
    background-color: #07f82b;
    border-radius: 4px;
    transform: scale(0);
}
.checkbox__label a{
    white-space: nowrap;
    color: blue;
    text-decoration: none;
}
.form__button {
    width: 100%;
    font-size: 18px;
    min-height: 60px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: #7ca861;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    position: relative;
    top: 0;
}
.form__button:hover{
    background-color: #61844b;
}
.form__button:active{
    top: -3px;
    box-shadow: 0 5px 0 rgb(173, 172, 172);
}
